name: spy-risk-model
channels:
  - conda-forge
  - defaults
dependencies:
  - python
  - numpy
  - pandas
  - scipy
  - matplotlib
  - statsmodels 
  - yfinance
  - jupyterlab
  - pip:
      - seaborn